.hero {
  width: 100%;
  min-height: 1080px;
  background-image: url("../../assets/images/heroBG.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero_content {
  max-width: 1033px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero_content-title {
  text-align: center;
  font-size: 64px;
  font-weight: 500;
  line-height: 80px;
}
.hero_content-description {
  max-width: 720px;
  text-align: center;
  font-size: 20px;
  font-family: var(--Font-StolzlBook);
  font-weight: 400;
  line-height: 27px;
}

/* АДАПТИВ */
@media screen and (max-width: 940px) {
  .hero_content {
    padding: 0 32px;
    gap: 18px;
  }
  .hero_content-title {
    font-size: 52px;
    line-height: 131%;
  }
  .hero_content-description {
    max-width: 680px;
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 780px) {
  .hero {
    min-height: 100vh;
  }
  .hero_content {
    padding: 0 16px;
    gap: 16px;
  }
  .hero_content-title {
    max-width: 500px;
    font-size: 42px;
    line-height: 131%;
  }
  .hero_content-description {
    max-width: 500px;
    font-size: 16px;
    line-height: 23px;
  }
}
@media screen and (max-width: 580px) {
  .hero_content-title {
    max-width: 400px;
    font-size: 32px;
    line-height: 131%;
  }
  .hero_content-description {
    max-width: 400px;
    font-size: 13px;
    line-height: 20px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-image: url("../../assets/images/heroBgMobile.png");
    background-size: cover;
  }
  .hero_content-title {
    width: 100%;
  }
  .hero_content-description {
    width: 100%;
  }
}
