.about-game {
  background-image: url("../../assets/images/about-background.png");
  background-repeat: no-repeat;
  background-position: top;
}
.about-game_wrapper {
  padding: 64px 0 180px;
}
.about-game_card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.about-game_item {
  display: flex;
  flex-direction: column;
}
.about-game_item-img {
  width: 485px;
  max-height: 300px;
  min-height: 200px;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: left top;
}
.center-img {
  object-position: center;
}
.about-game_item-title {
  margin-top: 60px;
  color: var(--orange-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.about-game_item-description {
  margin-top: 15px;
  color: var(--natural-white);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.about-game_button {
  display: none;
}

/* АДАПТИВ */
@media screen and (max-width: 1660px) {
  .about-game_item-img {
    object-position: top;
  }
}
@media screen and (max-width: 1200px) {
  .about-game_card-content {
    gap: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .about-game_card-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-game_item:nth-child(7),
  .about-game_item:nth-child(8),
  .about-game_item:nth-child(9),
  .about-game_item:nth-child(10),
  .about-game_item:nth-child(11),
  .about-game_item:nth-child(12) {
    display: none;
  }
  .about-game_button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media screen and (max-width: 950px) {
  .about-game_item-title {
    margin-top: 30px;
  }
  .about-game_item {
    width: 100%;
    height: 230px;
  }
  .about-game_item-img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 780px) {
  .about-game_wrapper {
    padding: 40px 0 160px;
  }
  .about-game_button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
  .about-game_item-title {
    margin-top: 10px;
  }
}
@media screen and (max-width: 650px) {
  .about-game_wrapper {
    padding: 40px 0 90px;
  }
  .about-game_card-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-game_item {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .about-game_item-title {
    font-size: 16px;
    line-height: 16px;
  }
  .about-game_item-description {
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
  }
  .about-game_item-img {
    height: 240px;
  }
}
@media screen and (max-width: 380px) {
  .about-game_item-img {
    height: 200px;
  }
}
