.description-characters {
  height: 1024px;
  position: relative;
}
.description-characters_wrapper {
  max-width: 1923px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description-characters_wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 750px;
  background: linear-gradient(0deg, #030002 0%, rgba(6, 2, 4, 0) 100%);
}
.description-characters_content {
  display: flex;
  align-items: center;
}

/* ПОЛОЖЕНТЕ ОПИСАНИЯ ГЕРОЯ */
.description-characters_content-inner {
  padding-left: 580px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.description-characters_hero {
  position: absolute;
  left: 30px;
}
.description-characters_hero-img_2 {
  left: 120px;
}
.description-characters_hero-img_3 {
  left: -60px;
}

.description-characters_description {
  width: 633px;
  height: 460px;
}
.description-characters_description-name {
  font-family: var(--Font-StolzlBook);
  font-weight: 400;
  font-size: 90px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px var(--natural-white);
}
.description-characters_description-ability {
  color: var(--natural-white);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.02em;
}
.description-characters_description-text {
  max-width: 648px;
  margin-top: 25px;
  color: var(--gray-colors-300);
  font-family: var(--Font-StolzlBook);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.description-characters_buttons {
  margin-top: 132px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.description-characters_btn {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--orange-color);
  border-radius: 50px;
}
.description-characters_btn:active {
  opacity: 0.8;
}
.description-characters_btn:disabled {
  background: transparent;
  border: 1px solid var(--bg-dark-100);
}
.description-characters_btn:disabled:active {
  animation: buttonAnimationDisabled 0.3s ease;
}
.description-characters_line-top,
.description-characters_line-bottom {
  position: absolute;
}
.description-characters_line-top {
  top: 93px;
  right: 160px;
}
.description-characters_line-bottom {
  right: 361px;
  bottom: 58px;
  display: flex;
  flex-direction: column-reverse;
  gap: 22px;
}
.description-characters_line-bottom_doth {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background: var(--orange-color);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.description-characters_line-bottom_doth.active {
  opacity: 1;
}
/* АНИМАЦИЯ ДЛЯ ПОЯВЛЕНИЯ СЛАЙДОВ */
.slide-anim-bg {
  animation: slideAnimationBg 0.5s ease;
}
.slide-anim-img {
  animation: slideAnimationImg 0.5s ease;
}
.slide-anim-content {
  animation: slideAnimationContent 0.5s ease;
}
.description-characters_description-more {
  margin-top: 15px;
  display: none;
  align-items: center;
  gap: 6px;
  color: var(--orange-color);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.description-characters_description-more span {
  display: flex;
}
@keyframes slideAnimationBg {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideAnimationContent {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideAnimationImg {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* АНИМАЦИЯ ДЛЯ НЕАКТИВНОЙ КНОПКИ */
@keyframes buttonAnimationDisabled {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/* МОБИЛЬНОЕ МЕНЮ С ОПИСАНИЕМ */
.description-characters_menu {
  height: 100%;
  background: var(--bg-page);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(120%);
  transition: all 0.5s ease;
  opacity: 0;
  user-select: none;
  z-index: 10;
}
.description-characters_menu-open {
  transform: translate(0);
  opacity: 1;
  user-select: auto;
}
.description-characters_menu-btn {
  position: absolute;
  top: 10px;
  right: 20px;
}
.description-characters_menu-wrapper {
  height: 100%;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-characters_menu-name {
  width: 400px;
  text-align: start;
  font-family: var(--Font-StolzlBook);
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px var(--natural-white);
}
.description-characters_menu-ability {
  width: 400px;
  text-align: start;
  margin-top: 5px;
  line-height: var(--natural-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.description-characters_menu-text {
  width: 400px;
  margin-top: 20px;
  color: var(--gray-colors-300);
  font-size: 16px;
  font-family: var(--Font-StolzlBook);
  font-weight: 400;
}

/* АДАПТИВ */
@media screen and (max-width: 1800px) {
  .description-characters_line-top {
    right: 120px;
  }
}
@media screen and (max-width: 1620px) {
  .description-characters_hero-img_3 {
    left: -160px;
  }
}
@media screen and (max-width: 1580px) {
  .description-characters_hero {
    width: 650px;
  }
  .description-characters_hero-img_3 {
    width: 700px;
    left: 0;
  }
  .description-characters_hero-img_2 {
    width: 550px;
    bottom: 0;
  }
  .description-characters_hero-img_2-2 {
    width: 550px;
    left: 100px;
  }
  .description-characters_description-name {
    font-size: 80px;
  }
  .description-characters_description-ability {
    font-size: 32px;
    line-height: 36px;
  }
  .description-characters_description-text {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1380px) {
  .description-characters_hero {
    left: 10px;
  }
  .description-characters_description-name {
    font-size: 70px;
  }
  .description-characters_description-ability {
    font-size: 26px;
    line-height: 34px;
  }
  .description-characters_description-text {
    max-width: 550px;
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1310px) {
  .description-characters {
    height: 900px;
  }
  .description-characters_hero {
    width: 550px;
  }
  .description-characters_hero-img_3 {
    width: 600px;
  }
  .description-characters_hero-img_2 {
    width: 480px;
    left: 30px;
  }
  .description-characters_content-inner {
    padding-left: 480px;
  }
}
@media screen and (max-width: 1260px) {
  .description-characters_hero {
    width: 500px;
  }
  .description-characters_hero-img_3 {
    width: 600px;
  }
}
@media screen and (max-width: 1160px) {
  .description-characters_content-inner {
    padding-left: 400px;
  }
  .description-characters_description {
    width: 470px;
  }
}
@media screen and (max-width: 1060px) {
  .description-characters_hero {
    left: -30px;
  }
  .description-characters_hero-img_3 {
    left: -80px;
  }
}
@media screen and (max-width: 980px) {
  .description-characters_hero {
    width: 500px;
    top: 50px;
    left: 200px;
  }
  .description-characters_hero-img_1 {
    width: 550px;
  }
  .description-characters_hero-img_2 {
    top: 78px;
  }
  .description-characters_hero-img_3 {
    top: 120px;
    left: 150px;
    width: 600px;
  }
  .description-characters_content-inner {
    padding-left: 0;
    padding-top: 550px;
  }
  .description-characters_description {
    height: auto;
  }
  .description-characters_description-text {
    display: none;
  }
  .description-characters_content {
    width: 100%;
    flex-direction: column;
  }
  .description-characters_buttons {
    margin-top: 34px;
  }
  .description-characters_line-top {
    top: 20px;
    right: 40px;
  }
  .description-characters_line-bottom {
    right: 40px;
  }
  .description-characters_description-more {
    display: flex;
  }
  .description-characters_btn {
    width: 49px;
    height: 49px;
  }
}
@media screen and (max-width: 940px) {
  .description-characters_hero-img_2 {
    top: 53px;
  }
}
@media screen and (max-width: 840px) {
  .description-characters_hero {
    width: 450px;
    left: 150px;
  }
  .description-characters_hero-img_1 {
    width: 500px;
    top: 100px;
    left: 150px;
  }
  .description-characters_hero-img_2 {
    top: 137px;
  }
  .description-characters_hero-img_3 {
    left: 150px;
    top: 180px;
    width: 550px;
  }
}
@media screen and (max-width: 750px) {
  .description-characters_wrapper {
    padding: 0 16px;
  }
  .description-characters_hero {
    width: 450px;
    left: 110px;
  }
  .description-characters_hero-img_1 {
    width: 500px;
    left: 100px;
  }
  .description-characters_hero-img_3 {
    left: 100px;
    width: 550px;
  }
}
@media screen and (max-width: 680px) {
  .description-characters {
    height: 740px;
  }
  .description-characters_wrapper {
    padding: 0 16px;
  }
  .description-characters_hero {
    width: 400px;
    left: 110px;
  }
  .description-characters_hero-img_1 {
    width: 400px;
    left: 100px;
  }
  .description-characters_hero-img_2 {
    top: 62px;
  }
  .description-characters_hero-img_3 {
    left: 100px;
    width: 450px;
  }
  .description-characters_content-inner {
    width: 100%;
    padding-top: 480px;
  }
  .description-characters_description-name {
    font-size: 50px;
  }
  .description-characters_description-ability {
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 560px) {
  .description-characters_hero {
    width: 400px;
    left: 30px;
  }
  .description-characters_hero-img_1 {
    width: 400px;
  }
  .description-characters_hero-img_3 {
    left: 40px;
    top: 140px;
    width: 450px;
  }
  .description-characters_menu-wrapper,
  .description-characters_menu-name,
  .description-characters_menu-ability,
  .description-characters_menu-text {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .description-characters {
    height: 640px;
  }
  .description-characters_content-inner {
    padding-top: 400px;
  }
  .description-characters_hero {
    width: 310px;
    left: 50px;
  }
  .description-characters_hero-img_1 {
    width: 330px;
    left: 40px;
  }
  .description-characters_hero-img_2 {
    top: 114px;
  }
  .description-characters_hero-img_3 {
    top: 110px;
    left: 20px;
    width: 400px;
  }
  .description-characters_description-name {
    font-size: 35px;
  }
  .description-characters_description-ability {
    font-size: 16px;
    line-height: 22px;
  }
  .description-characters_buttons {
    justify-content: center;
  }
}
@media screen and (max-width: 390px) {
  .description-characters_hero {
    width: 310px;
    left: 10px;
  }
  .description-characters_hero-img_1 {
    width: 330px;
    left: 10px;
  }
  .description-characters_hero-img_3 {
    width: 360px;
    top: 170px;
    left: 0px;
  }
}
@media screen and (max-width: 340px) {
  .description-characters_hero-img_1 {
    left: 0px;
  }
}
