.popular-characters_wrapper {
  padding: 180px 0;
  overflow: hidden;
}
.popular-characters_description {
  max-width: 1010px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular-characters_description-name {
  text-align: center;
  color: var(--bg-secondary-5);
  font-size: 66px;
  font-weight: 500;
  line-height: 66px;
}
.popular-characters_description-text {
  max-width: 654px;
  margin-top: 7px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--gray-colors-300);
  font-size: 20px;
  font-family: var(--Font-StolzlBook);
  font-weight: 400;
  line-height: 30px;
}
.popular-characters_running-cards {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.popular-characters_running-cards_content {
  width: 100%;
  display: flex;
  gap: 37px;
}
.popular-characters_running-cards_content {
  margin-right: 37px;
}

.popular-characters_running-cards_item {
  width: 274px;
  max-height: 359px;
  border-radius: 8px;
  border: 3px solid var(--bg-gray-500);
  position: relative;
  overflow: hidden;
  transition: border-color 0.3s ease-in-out;
  transition: transform 0.3s ease;
}
.popular-characters_running-cards_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(37deg, #000 0.01%, rgba(22, 19, 26, 0) 100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.popular-characters_running-cards_item-img {
  transition: transform 0.3s ease;
}

.popular-characters_running-cards_item:hover {
  transform: scale(1.2);
}

.rfm-marquee-container {
  overflow: visible !important;
}
.popular-characters_running-cards_item:hover {
  border-color: var(--orange-color);
}
.popular-characters_running-cards_item:hover
  .popular-characters_running-cards_item_description {
  animation: cardInfoAnimation 0.3s ease forwards;
}
.popular-characters_running-cards_item:hover::before {
  opacity: 1;
}

.popular-characters_running-cards_item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.popular-characters_running-cards_item_description {
  position: absolute;
  display: flex;
  bottom: 22px;
  left: 22px;
  transform: translateY(100%);
  opacity: 0;
  flex-direction: column;
  gap: 10px;
  animation-fill-mode: forwards;
}
.popular-characters_running-cards_item_description-name {
  color: var(--bg-secondary-5);
  font-size: 26px;
  font-family: var(--Font-StolzlBook);
  font-weight: 400;
  line-height: 110%;
}
.popular-characters_running-cards_item_description-ability {
  display: flex;
  align-items: center;
  gap: 6px;
}
.popular-characters_running-cards_item_description-ability img {
  width: 14px;
  height: 14px;
}
.popular-characters_running-cards_item_description-ability_name {
  color: var(--orange-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

@keyframes cardInfoAnimation {
  0% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* АДАПТИВ */
@media screen and (max-width: 940px) {
  .popular-characters_wrapper {
    padding: 80px 0 100px;
  }
  .popular-characters_description {
    padding: 0 80px;
  }
  .popular-characters_description-name {
    font-size: 52px;
    line-height: 110%;
  }
  .popular-characters_description-text {
    max-width: 680px;
    font-size: 18px;
    line-height: 26px;
  }
  .popular-characters_running-cards {
    margin-top: 40px;
    gap: 20px;
  }
  .popular-characters_running-cards_content {
    gap: 17px;
  }
  .popular-characters_running-cards_content {
    margin-right: 17px;
  }
  .popular-characters_running-cards_item {
    width: 180px;
    height: 240px;
  }
  .popular-characters_running-cards_item_description {
    gap: 4px;
  }
  .popular-characters_running-cards_item_description {
    left: 14px;
    bottom: 18px;
  }
  .popular-characters_running-cards_item_description-name {
    font-size: 18px;
  }
  .popular-characters_running-cards_item_description-ability_name {
    font-size: 14px;
  }
  .popular-characters_running-cards_item:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 780px) {
  .popular-characters_description {
    padding: 0 16px;
  }
  .popular-characters_description-name {
    max-width: 500px;
    font-size: 42px;
    line-height: 131%;
  }
  .popular-characters_description-text {
    max-width: 500px;
    font-size: 16px;
    line-height: 23px;
  }
}
@media screen and (max-width: 580px) {
  .popular-characters_description-name {
    max-width: 400px;
    font-size: 32px;
    line-height: 131%;
  }
  .popular-characters_description-text {
    margin-bottom: 28px;
    max-width: 400px;
    font-size: 13px;
    line-height: 20px;
  }
  .popular-characters_wrapper {
    padding: 50px 0 80px;
  }
  .popular-characters_running-cards {
    margin-top: 30px;
  }
  .popular-characters_running-cards_item {
    width: 124px;
    height: 165px;
  }
  .popular-characters_running-cards_item_description {
    left: 10px;
    bottom: 14px;
  }
  .popular-characters_running-cards_item_description-name {
    font-size: 14px;
  }
  .popular-characters_running-cards_item_description-ability_name {
    font-size: 10px;
  }
}
